<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>YouTubeTweak</string>
    <key>CFBundleIdentifier</key>
    <string>com.qn.uyouplus</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>NSPrincipalClass</key>
    <string>uYouPlus</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>White</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>White</string>
                </array>
            </dict>
            <key>YTLitePlus</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>YTLitePlus</string>
                </array>
            </dict>
            <key>Outline</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Outline</string>
                </array>
            </dict>
            <key>2012</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>2012</string>
                </array>
            </dict>
            <key>2013</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>2013</string>
                </array>
            </dict>
            <key>2007</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>2007</string>
                </array>
            </dict>
            <key>Black</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Black</string>
                </array>
            </dict>
            <key>Oreo</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>Oreo</string>
                </array>
            </dict>
            <key>uYou</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>uYou</string>
                </array>
            </dict>
            <key>2012_blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>2012_blue</string>
                </array>
            </dict>
            <key>uYouPlus</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>uYouPlus</string>
                </array>
            </dict>
        </dict>
        </dict>
    </dict>
</plist>
